<form method='POST' action='/notes/save'>
  <div class="w-full p-4"> <!-- Main Container -->

    {{#if docreate}}
      <input type='hidden' name='docreate' value="create">
    {{else}}
      <input type='hidden' name='docreate' value="update">
    {{/if}}

    <div class="flex items-center mb-4">
      <label for="notekey" class="w-20 font-bold mr-2">Key</label>
      <div class="flex-1">
        {{#if docreate }}
          <input type='text' class="w-full border border-gray-300 rounded p-2"
                 placeholder="note key" name='notekey' value=''/>
        {{else}}
          {{#if note }}
            <span class="p-2 block">{{notekey}}</span>
          {{/if}}
          <input type='hidden' name='notekey' value='{{#if note }}{{notekey}}{{/if}}'/>
        {{/if}}
      </div>
    </div>

    
    <div class="flex items-center mb-4">
      <label for="title" class="w-20 font-bold mr-2">Title</label>
      <div class="flex-1">
        <input type="text" class="w-full border border-gray-300 rounded p-2"
               id='title' name='title' placeholder="note title"
               value='{{#if note }}{{note.title}}{{/if}}'>
      </div>
    </div>

    
    <div class="mb-4 ">
      <textarea class="w-full border border-gray-300 rounded p-2 h-40" name='body'
                rows="5">{{#if note }}{{note.body}}{{/if}}</textarea>
    </div>

   
    <button type="submit" class="bg-gray-300 hover:bg-gray-400 text-black font-bold py-2 px-4 rounded">
      Submit
    </button>
  </div>
</form>