{{#if note}}<h3 class="text-4xl font-bold mb-2 m-1">{{note.title}}</h3>{{/if}}
{{#if note}}<p class="m-1">{{note.body}}</p>{{/if}}
<p class="m-1">Key: {{notekey}}</p>
{{#if notekey}}

  <div class="inline-flex border rounded m-1">
    <a
      class="px-4 py-2 hover:bg-gray-100 border-r"
      href="/notes/destroy?key={{notekey}}"
    >Delete</a>
    <a
      class="px-4 py-2 hover:bg-gray-100"
      href="/notes/edit?key={{notekey}}"
    >Edit</a>
  </div>

{{/if}}