<header class="w-full">

  <nav
    class="flex items-center justify-between flex-wrap md:flex-nowrap bg-gray-800 text-white p-3"
  >
    <a class="p-2 hover:text-gray-300" href="/">
      <i data-feather="home"></i>
    </a>
    <span class="text-sm pl-2 text-gray-500">{{title}}</span>

    <button id="menu-btn" class="md:hidden p-2 border border-gray-600 rounded">
      <i data-feather="menu"></i>
    </button>

    <div
      id="menu-content"
      class="hidden md:flex w-full md:w-auto flex-grow md:flex-row flex-col items-center mt-4 md:mt-0"
    >
      <div class="flex-1 px-4 text-gray-300">
        {{#if breadcrumb}}
          <a
            class="hover:underline hover:text-white"
            href="{{breadcrumb.url}}"
          >{{breadcrumb.title}}</a>
        {{/if}}
      </div>

      {{#if user}}
        <span class="text-gray-300 mr-4">Hello, {{user.username}}</span>
        <a
          class="bg-gray-100 text-gray-800 hover:bg-white px-4 py-2 rounded font-medium transition-colors mr-2"
          href="/users/logout"
        >Log out</a>
        <a
          class="bg-gray-100 text-gray-800 hover:bg-white px-4 py-2 rounded font-medium transition-colors"
          href="/notes/add"
        >ADD Note</a>
      {{else}}
        <a
          class="bg-gray-100 text-gray-800 hover:bg-white px-4 py-2 rounded font-medium transition-colors"
          href="/users/login"
        >Log in</a>
      {{/if}}
    </div>
  </nav>

</header>